
     
/* Giving our navbar some padding and a background color */
.navbar {
    padding: 10px;
    background: #f5f5f7;
  }

  .navbar-brand{
    color: white;
    background-color: teal;
    font-weight: bold;
  }
/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
.navbar li {
display: inline-block;
padding: 20px;
padding-top: 5ch;
padding-bottom: 19ch;
margin-right: 0px;
margin-left: 0px;
cursor: pointer;
background: #48b1c2;
border-radius: 0px;
}


/* Getting rid of the default link styles here */
.navbar li a {
color: rgb(253, 253, 253);
text-decoration: none;
font-family: serif;
font-weight: bold;
text-align: center ;
border-right: 1px solid 
}

.margin-top-80 {
  margin-top: 100px;}
/* Boxes*/
.box{
  min-height: 50px;
  padding: 5px;
  margin: 5px;
  font-weight: 800;
  left: -100px;
  color: red
}


.box {
  margin-left: 43%;
  height: 400px;
  padding: 20px;
  color: #fff;
  background: deepskyblue;
}